/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
  --text-size: 11px;
  --icon-size: 10px;

  --text-color-light: rgba(0 0 0 / 100%);
  --text-color-dark: rgba(228 238 237 / 80%);

  --icon-color-light: white;
  --icon-color-dark: rgba(255 255 255 / 40%);

  --background-color-light: rgba(238 238 238 / 100%);
  --background-color-dark: rgba(16 16 16 / 100%);
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--text-color-light);
  }

  i {
    color: var(--icon-color-light);
  }

  #root {
    background: var(--background-color-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
  }

  i {
    color: var(--icon-color-dark);
  }

  #root {
    background: var(--background-color-dark);
  }
}

i {
  margin-right: 7px;
  font-size: var(--icon-size);
}

body {
  font-family: ui-monospace, monospace;
  font-size: var(--text-size);
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 80%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 80%;
  padding: 0px 0.2vw 0px 0vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo {
  margin: 0px 14px 2px 0px;
}

.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 6px;
  /* font-size: var(--text-size); */
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 4%);
  /* margin-right: 1px; */
  padding: 2.4px 4.6px;
  color: rgb(255 255 255 / 90%);
  border: none;
  height: 100%;
  /* border-radius: 2px; */
  cursor: pointer;

  /* &.displayed { */
  /*   background: rgb(255 255 255 / 15%); */
  /* } */

  &.focused,
  &:hover {
    background: rgb(255 255 255 / 15%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 0%);
  color: rgb(255 255 255 / 80%);
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
  margin-right: 1.34px;
}

.binding-mode {
  margin-right: 0px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.systray {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 6px 0px 0px;
}

.systray > img {
  margin: 0 0px 0px 4px;
}

.systray-toggle {
  all: unset;
}

.cpu {
  margin: 0 8px 0px 0px;
}
